# Python Cache

**pycache**/
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment

venv/
env/
.venv/
.env
# IDE Files

.idea/
.vscode/

# OS Files

.DS_Store
Thumbs.db

# Logs

*.log

uploads/
shorts_output/